<h1>Finished!</h1>

<h3>
	<br />
	Thank you for your participation!<br />
	You scored <span class="score">{{App.User.totalScore}}</span> out of <span class="score">{{App.User.totalPossible}}</span>
</h3>