<div>
    <div class="span3 relative">
        <div class="sidebar-nav">
            <div class="timer">
                TIMER
            </div>
            <img src="images/question1.png" class="sidebar-image" />
        </div>
    </div>
    <div class="span8 relative">
        
        <div class="question">What is the meaning of <strong>YAGNI</strong></div>
        
        <div class="answers">
            <div class="answer-group">
                <ul>
                    <li class="answer-option">
                        <input type="radio" name="q" />
                        Yet Another Google Noop Instruction
                    </li>
                    <li class="answer-option">
                        <input type="radio" name="q" />
                        You Ain't Gonna Need It
                    </li>
                    <li class="answer-option">
                        <input type="radio" name="q" />
                        You're a Good Newbie Interpreter
                    </li>
                    <li class="answer-option">
                        <input type="radio" name="q" />
                        Yo, Always Get New iPhones
                    </li>
                </ul>
            </div>

            <button class="submit btn btn-primary">
                Submit Answer
            </button>
        </div>

    </div>
</div>