<div class="question less-top">Which of these talk show celebrities has had an iPhone app reach #1</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                <img src="images/kelly.jpg" class="image-option" />
                <img src="images/jay.jpg" class="image-option" />
                <img src="images/ellen.jpg" class="image-option" />
                <img src="images/oprah.jpg" class="image-option" />
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>