<div class="question">Name the language file extensions</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                C#
                <span class="right-abs right-padded">
                    . <input type="text" class="smallest" />
                </span>
            </li>
            <li class="answer-option">
                Python
                <span class="right-abs right-padded">
                    . <input type="text" class="smallest" />
                </span>
            </li>
            <li class="answer-option">
                Ruby
                <span class="right-abs right-padded">
                    . <input type="text" class="smallest" />
                </span>
            </li>
            <li class="answer-option">
                JavaScript
                <span class="right-abs right-padded">
                    . <input type="text" class="smallest" />
                </span>
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>