<div class="question">What is the max limit for a Tweet</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                <input type="radio" name="q6" />
                1 paragraph
            </li>
            <li class="answer-option">
                <input type="radio" name="q6" />
                100 characters
            </li>
            <li class="answer-option">
                <input type="radio" name="q6" />
                120 characters
            </li>
            <li class="answer-option">
                <input type="radio" name="q6" />
                140 characters
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>