<div>
    <div class="span3">
        <div class="well sidebar-nav">
            <span class="nav-header">Side Item</span>
            <ul class="nav nav-list">
            </ul>
        </div>
    </div>
    <div class="span8">
        
        <div class="question">What is the meaning of <strong>YAGNI</strong></div>
        
        <div class="answer-group">
            <ul>
                <li class="answer-option">
                    <input type="radio" name="q" />
                    Yet Another Google Noop Instruction
                </li>
                <li class="answer-option">
                    <input type="radio" name="q" />
                    You're a Good Newbie Interpreter
                </li>
                <li class="answer-option">
                    <input type="radio" name="q" />
                    Yo, Always Get New iPhones
                </li>
                <li class="answer-option">
                    <input type="radio" name="q" />
                    You Ain't Gonna Need It
                </li>
            </ul>
        </div>

        <button class="submit btn btn-primary">
            Submit Answer
        </button>

    </div>
</div>