<div class="question less-top">Name the (hacker culture) movie based on the alternate movie title</div>

<div class="answers">
    <div class="answer-group">
        <div class="answer-row">
            The Unlucky Number Ground
            <input type="text" class="right-abs" readonly="readonly" value="The 13th Floor" />
        </div>
        <div class="answer-row">
            Knife Sprinter
            <input type="text" class="right-abs" />
        </div>
        <div class="answer-row">
            The Multi-dimensional Array
            <input type="text" class="right-abs" />
        </div>
        <div class="answer-row">
            Goal Unreachable
            <input type="text" class="right-abs" />
        </div>
        <div class="answer-row">
            Workplace Void
            <input type="text" class="right-abs" />
        </div>
        <div class="answer-row">
            "Good Citizen" Sports
            <input type="text" class="right-abs" />
        </div>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>