<div class="question less-top">What's the term used when a website adjusts for a desktop browser, tablet, or mobile screen</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                {{view Ember.RadioButton name="q7" selectionBinding="answer" value="1"}}
                Adaptive Design
            </li>
            <li class="answer-option">
                {{view Ember.RadioButton name="q7" selectionBinding="answer" value="2"}}
                Natural Screenflow
            </li>
            <li class="answer-option">
                {{view Ember.RadioButton name="q7" selectionBinding="answer" value="3"}}
                Responsive Design
            </li>
            <li class="answer-option">
                {{view Ember.RadioButton name="q7" selectionBinding="answer" value="4"}}
                Reactive Design
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>