<div class="question">Select the appropriate Database type</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                Relational
                <select id="db-relational" class="right-abs">
                    <option value=""></option>
                    <option value="SQL Server">SQL Server</option>
                    <option value="Capistrano">Capistrano</option>
                    <option value="InnoDB">InnoDB</option>
                </select>
            </li>
            <li class="answer-option">
                Document
                <select id="db-relational" class="right-abs">
                    <option value=""></option>
                    <option value="Sharepoint">Sharepoint</option>
                    <option value="MongoDB">MongoDB</option>
                    <option value="HBase">HBase</option>
                </select>
            </li>
            <li class="answer-option">
                Key-Value
                <select id="db-relational" class="right-abs">
                    <option value=""></option>
                    <option value="PostgreSQL">PostgreSQL</option>
                    <option value="Neo4J">Neo4J</option>
                    <option value="Riak">Riak</option>
                </select>
            </li>
            <li class="answer-option">
                Column-Based
                <select id="db-relational" class="right-abs">
                    <option value=""></option>
                    <option value="Memcached">Memcached</option>
                    <option value="CouchDB">CouchDB</option>
                    <option value="Cassandra">Cassandra</option>
                </select>
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>