<div class="question">What is the max limit for a Tweet</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                {{view Ember.RadioButton name="q6" selectionBinding="answer" value="1"}}
                1 paragraph
            </li>
            <li class="answer-option">
                {{view Ember.RadioButton name="q6" selectionBinding="answer" value="2"}}
                100 characters
            </li>
            <li class="answer-option">
                {{view Ember.RadioButton name="q6" selectionBinding="answer" value="3"}}
                120 characters
            </li>
            <li class="answer-option">
                {{view Ember.RadioButton name="q6" selectionBinding="answer" value="4"}}
                140 characters
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>