<div class="question">Describe 3 ways to speed up a website</div>

<div class="answers">
    <div class="answer-group">
        <div class="answer-row">
            #1
            {{view Ember.TextField valueBinding="answer1"}}
        </div>
        <div class="answer-row">
            #2
            {{view Ember.TextField valueBinding="answer2"}}
        </div>
        <div class="answer-row">
            #3
            {{view Ember.TextField valueBinding="answer3"}}
        </div>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>