<div class="question">Select the appropriate Database type</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                Relational
                {{view Ember.Select
                       contentBinding="content1"
                       valueBinding="answer1"
                       class="right-abs"}}
            </li>
            <li class="answer-option">
                Document
                {{view Ember.Select
                       contentBinding="content2"
                       valueBinding="answer2"
                       class="right-abs"}}
            </li>
            <li class="answer-option">
                Key-Value
                {{view Ember.Select
                       contentBinding="content3"
                       valueBinding="answer3"
                       class="right-abs"}}
            </li>
            <li class="answer-option">
                Column-Based
                {{view Ember.Select
                       contentBinding="content4"
                       valueBinding="answer4"
                       class="right-abs"}}
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>